<%- include("../partials/header") %>
<div class="container">
    <header class="jumbotron">
        <h1>This is the campgrounds page!!!</h1>
        <p>Find all the campgrounds around the world</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a> 
        </p>
    </header>
    
    <div class="row">
        <% campgrounds.forEach(function(camp){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= camp.image %>" alt="">
                    <div class="caption text-center">
                        <h4><%= camp.name %></h4>
                        <a href="/campgrounds/<%= camp.id %>" class="btn btn-primary btn-lg" role="button">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    

</div>



<%- include("../partials/footer") %>